.Text {
  font-weight: var(--p-font-weight-regular);
  letter-spacing: var(--p-letter-spacing-regular);
}

.Text.Regular {
  font-size: var(--p-font-size-regular);
  line-height: var(--p-line-height-regular);
}

.Text.Small {
  font-size: var(--p-font-size-small);
  line-height: var(--p-line-height-small);
}
