.TextField {
  border: 1px solid transparent;
  border-bottom-color: var(--c-text-color);
  padding: var(--c-spacing-small) 0;
  width: 100%;
  color: var(--c-text-color);
  line-height: var(--c-line-height-input);
  background-color: transparent;
  appearance: none;
}

.TextField:disabled {
  border-bottom-color: var(--c-grey1);
  color: var(--c-grey1);
  cursor: not-allowed;
}

.TextField.HasError {
  margin-bottom: var(--c-spacing-regular);
}
