:root {
  --c-font-weight-regular: 400;
  --c-font-weight-bold: 600;

  --c-font-size-extra-small: 0.75rem; /* 12px */
  --c-font-size-small: 0.875rem; /* 14px */
  --c-font-size-regular: 1rem; /* 16px */
  --c-font-size-large: 3rem; /* 48px */

  --c-line-height-small: 0.9375rem; /* 15px */
  --c-line-height-regular: 160%;
  --c-line-height-large: 120%; /* Figma says 100% but the designs uses a different value */

  --c-letter-spacing-regular: -0.0125em;
  --c-letter-spacing-large: -0.05em;

  --c-spacing-regular: 1rem;
  --c-spacing-large: 2rem;
  --c-spacing-extra-large: 6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: var(--c-font-weight-regular);
  font-size: 16px;
  line-height: var(--c-line-height-regular);
  letter-spacing: var(--c-letter-spacing-regular);
  background-color: var(--c-background);
  color: var(--c-text-color);
  -webkit-font-smoothing: antialiased;
}
