.Wrapper {
  position: relative;
  margin: 0 auto;
  padding: var(--c-spacing-extra-large) var(--c-spacing-large)
    var(--c-spacing-large);
  max-width: 1112px;
  display: grid;
  place-items: center;
}

.Wrapper .Link {
  position: absolute;
  top: var(--c-spacing-extra-large);
  left: var(--c-spacing-large);
  color: currentColor;
}

.Wrapper .Stars {
  position: absolute;
  top: var(--c-spacing-extra-large);
  right: var(--c-spacing-large);
}

.Wrapper header p {
  padding-top: var(--c-spacing-medium);
  padding-bottom: var(--c-spacing-extra-large);
  max-width: 42ch;
}

.KanbanGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--c-spacing-medium);
}

.KanbanGrid h2 {
  padding-bottom: var(--c-spacing-medium);
}
