.Wrapper {
  margin: 0 auto;
  padding: var(--c-spacing-extra-large) var(--c-spacing-large)
    var(--c-spacing-large);
  max-width: 1112px;
  display: grid;
  place-items: center;
}

.Wrapper header p {
  padding-top: var(--c-spacing-medium);
  padding-bottom: var(--c-spacing-extra-large);
  max-width: 42ch;
}

.KanbanGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--c-spacing-regular);
}
